input[type=text] , input[type=email]{
    height: 58px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    padding: 8px 14px 8px 14px;

}

input{
    border-color: #667085 ;
    color: #667085 ;
    background-color: #FFFFFF;
}

input[type=submit]{
    height: 37px;
    width: auto;
    /* left: 391px; */
    /* top: 590px; */
    border-radius: 26px;
    padding: 10px 18px 25px 18px;
    margin: 0 auto;
}

textarea{
    height: 200px;
    width: 100%;
    left: 0px;
    top: 234px;
    border-radius: 4px;
    padding: 14px;
}

.space{
    padding-bottom: 20px ;
}

.space1{
    padding-bottom: 5px ;
}