.box{
    box-shadow: 0 4px 8px 0 lightgray ;
    padding: 30px;
}

.box-text{
    padding: 15px 0px;
}

.values__section .title__header{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 30px;
    
}
.values__section .title__header p{
    margin-bottom: 0;
    
}

.box-text h4{
    margin-bottom: 20px;
}


.red{
    background-color: #D02F2F;
    height: 18px;
    width: 18px;
    left: 0px;
    top: 9px;
    border-radius: 2px;
}

.boy{
    height: 36px;
    width: 151px;
    left: 47px;
    top: 0px;
    margin: 49px 20px;
}

.back{
    position: absolute ;
    color: red;
    text-align: center;
    height: 36px;
    width: 133px;
}

.image{
    position: relative;
}
.back-logo{
    background-image: url('../images/DSC_3873 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    display: flex;
    justify-content: center;
    border: 1rem solid white;
}
.back-logo1{
    background-image: url('../images/image\ 44.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    display: flex;
    justify-content: center;
    border: 1rem solid white;
}
.back-logo2{
    background-image: url('../images/DSC_3903\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 270px;
    justify-content: center;
    border: 1rem solid white;
}

.back-logo3{
    background-image: url('../images/DSC_3940\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 270px;
    justify-content: center;
    border: 1rem solid white;
}

.back-logo4{
    background-image: url('../images/DSC_4018\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 270px;
    justify-content: center;
    border: 1rem solid white;
}

.back-logo5{
    background-image: url('../images/DSC_3962\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 270px;
    justify-content: center;
    border: 1rem solid white;
}

.back-logo6{
    background-image: url('../images/DSC_4022\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 270px;
    justify-content: center;
    border: 1rem solid white;
}

.back-logo7{
    background-image: url('../images/DSC_4101\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 270px;
    justify-content: center;
    border: 1rem solid white;
}

.back-logo{
    transition: all 0.4s ease;
}
.back-logo:hover{
    border-radius: 100%;
    transition: all 0.8s ease;
}

.back-logo h6{
    color: white;
    font-size: 25px;
    align-self: center;
}


