.news .nav-item {
  border-bottom: 1px solid #edebeb;
}
.news .nav-link.active {
  background-color: #1a7526;
  color: white;
  /* border-radius: 15px; */
  /* border: none; */
  padding: 10px 20px;
  font-weight: 700;
  font-size: 18px;
  height: 100%;
  /* line-height: 22px; */
}
.news {
  align-items: center;
  gap: 30px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid #EDEBEB ; */
}
.news a {
  font-size: 25px;
  border: none;
}
.news .nav-link {
  max-width: 300px;
  width: 300px;
  border: none;
  background-color: #fff;
  color: #474b48;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 18px;
  /* border: 1px solid #fff; */

  transition: all 0.3s ease-in-out;
}
.evnt-btn:hover {
  border: 1px solid #1a7526;
  background: #1a7526;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.news-cnt img {
  width: 100%;
}
/* .news-cnt button{
    color:#1A7526;
    border: none;
    background-color: white;
    font-size: 30px;
} */
.clk-btn {
  border-radius: 30px;
  /* width: 300px; */
  justify-content: center;
  text-align: center;
  color: #474b48;
  text-decoration: none;
  border: 1px solid #474b48;
  width: 200px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.clk-btn:hover {
  color: #fff;
  border: 1px solid #1a7526;
  background: #1a7526;
  transition: all 0.3s ease-in-out;
}

.news-card .card-img {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.news-card .card-img img {
  height: 100%;
  object-fit: cover;
}

.news-card .card-img:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.news-card .card-img img {
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.news-card h3 {
  font-size: 22px;
  line-height: 30px;

  color: #474b48;
}
.news-card h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #777e78;
}
.news-card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  /* or 214% */

  color: #474b48;
}
.news-card a {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #1a7526;
}

@media only screen and (max-width: 767px) {
  .news-btn,
  .evnt-btn {
    width: auto;
  }

  .news .nav-link {
    width: 100px;
  }
}
