.image{
    height: 250px;
    width: 250px;
    border-radius: 100%;
}



.faith{
    font-family: 'Qwigley';
    font-size: 50px;
    font-weight: 400px;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
}

.joy{
    color: #05CE20 ;
   font-family: 'Lato';
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    margin: 4px 0px 0px 3px ;
}


.welcome__message__header h3{
    font-family: 'Qwigley', cursive;
    font-weight: 400;
    font-size: 52px;
    line-height: 65px;
    /* identical to box height */


    color: #1E1E1E;
}
.welcome__message__header .text__box p{
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    color: #474B48;
}

.welcome__message__header .text__box p:first-child{
    margin-bottom: 20px;
}

.welcome__message__header h3 span{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #05CE20;
}
